#fancy-bg {
    // Size
    width: 200vw;
    height: 1325px;

    // Position
    position: absolute;
    margin-top: -360px;
    margin-left: -265px;
    transform: rotate(-12deg);
    z-index: -10;

    // Visual
    background: #ffffff;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 1400px) {
        // Position
        margin-top: -340px;
    }

    @media screen and (max-width: 1200px) {
        // Position
        margin-top: -320px;
    }
}